:root {
            --background-color: #2f2f3d;
            --border: white;
            --dot: red;
            --questionBox: white

        }

#gamecanvas {
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

html, body {
  height: 100%;
  margin: 0;
  padding-left: 4%;
  justify-content: center;
  align-items: center;
   background-color: var(--background-color)
}

#map {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.country-dot {
  width: 10px;
  height: 10px;
  background-color: var(--dot);
  border-radius: 50%;
  border: 2px solid var(--border);
}

.country-dot.highlighted {

  width: 10px;
  height: 10px;
  background-color: var(--dot);
  border-radius: 50%;
  border: 2px solid var(--border);
  box-shadow: 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;

}

#image-container-right {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

#image-container-left {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

#score-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  background-color: var(--questionBox);
  padding: 10px 20px;
  z-index: 2;
}

#score-container p{
  color: black;
  font-size: 20px;
}

.icons {
  width: 50px;
  height: 50px;
}

#center-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--questionBox);
  padding: 200px 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#quit-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}





