:root {
    --main-purple: #7a58da;
    --light-purple: #dacffd;
    --main-orange: #ffcb6c;
    --light-orange: #f9efe1;
    --dark-font: #1f1f1f;
    --light-font: #f4f4f4;
    --transparent-gray: rgba(220, 220, 245, 0.5);

    --darkmode-dark: #1f1f1f;
    --darkmode-light: #f4f4f4;

    --background-color: #2f2f3d;
    --white: #ffff;
    --red: #ff0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Behavior";
    src: url("../fonts/Behavior.otf") format("opentype");
}

h1 {
    color: var(--light-font);
    font-family: "Behavior";
}

h2 {
    font-family: "Behavior";
}

body {
    background-color: var(--darkmode-light);
    margin: 1rem;
}

main {
    background-color: var(--main-purple);
    border-radius: 15px;
    padding-bottom: 1rem;
}

.menu-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    align-items: center;
    margin: 0 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#logo {
    margin: auto;
    max-width: 100%;
    display: block;
    width: 35%;
}

#trophy {
    margin: auto;
    max-width: 100%;
    display: block;
    width: 35%;
}

.white-text {
    color: var(--light-font);
}

.orange-text {
    color: var(--main-orange);
}

.purple-text {
    color: var(--main-purple);
}

#links {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0.5rem 10rem;
    row-gap: 0.5rem;
}

#links li, #center-box li {
    list-style-type: none;
}

#links li .menu-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.menu-link {
    font-size: 18px;
    background-color: var(--light-purple);
    border-radius: 3px;
}

.menu-link-small {
    font-size: 0.8rem;
}

#authentication-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5rem;
}

#authentication-form .menu-link {
    margin: 0 1rem;
}

a, .menu-link {
    color: var(--dark-font);
}

a:hover, .menu-link:hover {
    box-shadow: 0 0 15px var(--light-orange);
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

#instructions-dialog {
    border: 0;
    background: var(--light-orange);
    border-radius: 20px;
    padding: 1rem;
}

#instructions-dialog[open] {
    display: flex;
	flex-direction: column;
	align-items: center;
}

#instructions-dialog .menu-link:hover {
    box-shadow: 0 0 15px var(--light-purple);
}

#instructions-dialog::backdrop {
    background: var(--transparent-gray);
}

#instructions-text {
    padding: 0.5rem 0 0.7rem 0;
}

.dark-mode {
    background-color: var(--darkmode-dark);
}

a.disabled {
    pointer-events: none;
    opacity: 10%;
}

/*Gameplay CSS*/

#gamecanvas {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#game-html, #game-body {
    height: 100%;
    margin: 0;
    padding-left: 4%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color)
}

#map {
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

.country-dot {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    border-radius: 50%;
    border: 2px solid var(--white);
}

.country-dot.highlighted {

    width: 10px;
    height: 10px;
    background-color: var(--red);
    border-radius: 50%;
    border: 2px solid var(--white);
    box-shadow: 0 0 20px var(--red), 0 0 30px var(--red), 0 0 40px var(--red), 0 0 50px var(--red);

}

#healthbar-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

#instructions-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

#score-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    background-color: var(--white);
    padding: 10px 20px;
    z-index: 2;
    border-radius: 10px;
}

#score-container p {
    color: black;
    font-size: 20px;
}

.icons {
    width: 50px;
    height: 50px;
}

#question-mark-icon {
    border-radius: 50%;
}

#question-mark-icon:hover {
    box-shadow: 0 0 20px var(--red), 0 0 30px var(--red), 0 0 40px var(--red), 0 0 50px var(--red);
}

.centered-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center-box {
    display: none;
    background-color: var(--light-purple);
    padding: 200px 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#quit-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--light-purple);
    border-radius: 3px;
}

#leaderboard-back-button, #hide-instructions {
    padding: 0 3rem;
}
