:root {
    --main-purple: #7650dc;
    --light-purple: #dacffd;
    --main-orange: #ffcb6c;
    --light-orange: #f9efe1;
    --dark-font: #1f1f1f;
    --light-font: #f4f4f4;

    --darkmode-dark: #1f1f1f;
    --darkmode-light: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkmode-light);

}

#main-menu-content {
    margin: 0 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-purple);
    border-radius: 15px;
}

#logo {
    margin: auto;
    max-width: 100%;
    display: block;
    width: 35%;
}

#linkit {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0.5rem 10rem;
    row-gap: 0.5rem;
}

#linkit li {
    list-style-type: none;
    background-color: var(--light-purple);
    border-radius: 3px;
    font-size: 18px;
}

#linkit li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

a {
    color: var(--dark-font);
}

a:link {
    text-decoration: none;
}

#instructions-dialog {
    border: 0;
    background: red;
    border-radius: 30px;
}

#instructions-dialog::backdrop {
    background: rgba(220, 220, 245, 0.5);
}

.dark-mode {
    background-color: var(--darkmode-dark);
}