<!DOCTYPE html>
<html lang="en" id="game-html">
<head>
    <meta charset="UTF-8">
    <title>Quiz-game-2.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet"/>
    <script>
        // https://flask.palletsprojects.com/en/stable/patterns/javascript/#generating-urls
        const SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/gameplay.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/gameState.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/instructions.js') }}"></script>
</head>
<body id="game-body">

<main id="map">
    <!-- Holds the UI components -->
    <div id="healthbar-container">
        <img src="{{ url_for('static', filename='img/life.png') }}" class="icons" alt="Image of a heart"/>
        <img src="{{ url_for('static', filename='img/life.png') }}" class="icons" alt="Image of a heart"/>
        <img src="{{ url_for('static', filename='img/life.png') }}" class="icons" alt="Image of a heart"/>
    </div>

    <div id="instructions-container">
        <img id="show-instructions" href="#" src="{{ url_for('static', filename='img/question-mark.png') }}" class="icons"
             alt="Image for the instructions"/>
    </div>

    <div id="score-container">
        <p>2000</p>
    </div>
    <!-- This is for drawing the player -->
    <canvas width="800" height="450" id="gamecanvas"></canvas>
    <article id="center-box">
        <section id="country-data"></section>
    </article>
</main>

{% include "instructions.html" %}
<button id="quit-btn">Save and Quit</button>

</body>
</html>



