<dialog id="instructions-dialog" class="centered-dialog">
    <h2>How to play <span class="orange-text">Quiz game</span></h2>
    <h3>Instructions</h3>
    <p>Your goal is to travel to different countries, answer the question of
    selected country and collect as many points as possible.<br>
    You start with three lives, and you will lose one life for every wrong answer. And for every correct answer you get points.
    When you have no lives left, or you answer all the questions correctly the game ends.<br>
    To start playing, first create a username. After that you can start a new game.<br>
    In the world map choose the country of your choice, and you will be asked a question about that country.
        From the two options, choose whichever option you think is correct. You can only answer one question per country, then you
        can move to the next country or save and quit. This will allow you to continue where you left off.
    You can load your save from the main menus load game option.</p>
    <a id="hide-instructions" href="#" class="menu-link menu-link-small">Close</a>
</dialog>
