<dialog id="instructions-dialog" class="centered-dialog">
    <h2 class="purple-text">How to play Quiz game</h2>
    <p id="instructions-text">Your goal is to travel to different countries, answer the question of
    selected country and collect as many points as possible. Every country has one question, and you win the game by
        answering them all correctly.
    <hr>
    You start with three lives, and you will lose one life for every wrong answer. And for every correct answer you get points.
    When you have no lives left, or you answer all the questions correctly the game ends.
    <hr>
    To start playing, first create a username. After that you can start a new game.
    In the world map choose the country of your choice, and you will be asked a question about that country.
        From the two options, choose whichever option you think is correct. You can only answer one question per country, then you
        can move to the next country.
    <hr>
    The game utilizes autosave feature which will allow you to continue where you left off.
    You can load your save from the main menus load game option.</p>
    <hr>
    <a id="hide-instructions" href="#" class="menu-link menu-link-small">Close</a>
</dialog>
