<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/loading-screen.css') }}">
</head>

<div class="loading-animation loading-element">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
  <span class="line line-4"></span>
  <span class="line line-5"></span>
  <span class="line line-6"></span>
  <span class="line line-7"></span>
  <span class="line line-8"></span>
  <span class="line line-9"></span>
  <div class="loading-element">Loading</div>
</div>
