<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Log in</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/instructions.js') }}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<main class="menu-content">
    <header>
        <img id="logo" src="{{ url_for('static', filename='img/transparent-logo.png') }}" alt="logo">
    </header>
    <h1>Log in</h1>
    <h2 class="orange-text">Write your username</h2>
    <form method="POST" id="authentication-form">
        <input type="text" name="username" placeholder="username">
        <input type="submit" value="Ok" class="menu-link menu-link-small">
    </form>
</main>


</body>
</html>