<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Main menu</title>
    <script src="{{ url_for('static', filename='js/instructions.js') }}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<main class="menu-content">
    <header>
        <img id="logo" src="{{ url_for('static', filename='img/transparent-logo.png') }}" alt="logo">
        <h1>Quiz game</h1>
        <h2 class="orange-text">Test your knowledge!</h2>
        <p>Logged in as <span id="usernameDisplay" class="white-text">{{ username }}</span></p>
    </header>

    <nav>
        <ul id="links">
            <li><a href="{{ url_for('game', action='new') }}" class="menu-link">New game</a></li>
            <li>
                {% if has_savefile %}
                <a href="{{ url_for('game', action='load')}}" class="menu-link">Load game</a>
                {% else %}
                <a href="#" class="menu-link disabled" onclick="return false;" aria-disabled="true">Load game</a>
                {% endif %}
            </li>
            <li><a href="{{ url_for('leaderboard') }}" class="menu-link">Leaderboard</a></li>
            <li><a id="show-instructions" href="#" class="menu-link">Show instructions</a></li>
            <li><a href="{{ url_for('logout') }}" class="menu-link">Log out</a></li>
        </ul>
    </nav>
</main>

{% include "instructions.html" %}

</body>
</html>